* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html{
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

p {
  margin: 32px 0;
  line-height: 1.5;
  color: rgb(124 139 161);
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  line-height: 1.25;
  padding-bottom: 16px;
}

h3 {
  font-size: 40px;
  color: rgb(203 213 224);
  font-weight: bold;
}

.purple {
  color: rgb(100 21 255);
}


.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
}

.container{
  min-height: 100vh;
  padding: 80px 0;
}

.section__title{
  font-weight: bolder;
}

/*NAV*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-left: 8px;
  font-weight: bolder;
  font-size: 32px;
  color: black;
  transition: all 300ms ease;
}

.nav__logo:hover{
  color: rgb(100 21 255);
}

.nav__links {
  display: flex;
  align-items: center;
  
}

.nav__link {
  margin-right: 40px;
  color: black;
  transition: all 300ms linear;
}

.nav__link:hover{
  text-decoration: underline;

}

.nav__link--primary {
  border-radius: 24px;
  background-color: rgb(100 21 255);
  padding: 12px 32px;
  color: white;
}

/*BURGER MENU*/

.btn__menu{
  border: none;
  background-color:transparent ;
  color: rgb(100 21 255);
  font-size: 40px;
  display: none;
}
.menu__backdrop{
  position: absolute;
  background-color: #242424;
  top: 0;
  Left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.menu--open .menu__backdrop{
  
  visibility: visible;
  opacity: 1;
}
.menu--open{
  max-height: 100vh;
  overflow-y: hidden;
}
.menu__links{
  display: flex;
  flex-direction: column;
}
.menu__list{
  padding: 32px 0;
}
.menu__link{
  color: white;
}
.menu__link:hover{
  text-decoration: underline;
}
.btn__menu--close{
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

.btn__menu:hover{
  background-color: transparent;
  color: gray;
}

/*Landing*/
.landing {
  display: flex;
}

.landing__hook {
  width: 40%;
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.landing__email {
  margin: 32px 0;
  display: flex;
  position: relative;
  display: inline-block;
}

.input__email {
  width: 100%;
  border-radius: 1000px;
  border-width: 2px;
  padding: 16px 0 16px 16px;
  font-weight: bold;
}

button{
  padding: 8px 16px;
  border-radius: 24px;
  transition: all 300ms ease;
}

.landing__button,
button {
  background-color:rgb(100 21 255);
  border: none;
  margin: 12px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 16px 
}



.landing__button {
  transition: all 300ms ease;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.landing__button:hover, button:hover {
  background-color: rgb(12, 199, 199);
}

.landing__references {
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

.landing__references--logos {
  color: gray;
  width: 90%;
}

.landing__figure {
  width: 60%;
}

/*Services*/

.services__wrapper{
  text-align: center;
}

.services__description{
  padding-bottom: 48px;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3);
}

.service__description{
  display: flex;
  flex-direction: column;
}


.service__img{
  
  text-align: center;
  height: 40px;
  width: 62px;
}



/*Steps*/

.steps__wrapper,
.quality__wrapper, .values__wrapper, .testimonials__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__header,
.quality__header, .values__header {
  width: 50%;
}

.steps__img,
.quality__img, .values__img {
  width: 80%;
  margin: 0 32px;
 
}

.quality__img{
  border: 1px solid lightgray;
}

.step {
  display: flex;
}

.step__number {
  padding-right: 16px;
}


/*Values*/

.values__columns{
  display: flex; 
}

.values__column{
  padding: 0 16px 8px 0;
  margin-right: 40px;
}

.value__title{
  display: flex;
  align-items: center;

}

.values__affordable{
 color:  rgb(39 103 73);
  background-color:rgb(154 230 180);
  padding: 12px 16px;
  margin-right: 16px;
}

.fa-suitcase{
color: rgb(155 44 44);
background-color: rgb(254 178 178);
padding: 12px;
margin-right: 16px;
}

.values__affordable, .fa-suitcase{
  border-radius: 50px;
}


/*Pricing*/

.pricing__header {
 text-align: center;
}

.plans{
  display: flex;
  flex-wrap: wrap;
}

.title-bus, .price-bus, .monthly-bus, .plan__target-bus, .plan__item-bus{
  color: white;
}

.plan, .plan-bus{
  border: 1px solid rgb(226, 232, 240);
  border-radius: 12px;
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
}




.plan-bus{
 background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
 
}

.title{
  font-weight: bold;
}

hr{
  color: rgb(226, 232, 240);
}
.price, .price-bus {
  font-size: 40px;
  font-weight: bold;
}

.plan__details, .plan__details-bus{
  line-height: 2;
  margin: 32px 0;
  text-align: center;
}

.plan__item, .monthly{
  color: gray;
}

.plan__target, .plan__target-bus{
  font-size: 16px;
  font-weight: bolder;
}

.plan__header, .plan__header-bus{
  text-align: center;
  line-height: 2;
  margin:32px 0;
}

.price__btn, .price__btn-bus{
  text-align: center;
  margin: 32px 0;
}

.btn__bus{
  color:rgb(100 21 255);
  background-color: white;
}

.btn__bus:hover{
  color: white;
  background-color: rgb(100 21 255);
}

.green{
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.red{
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.blue{
  background-color: none;


}

.red, .green, .btn__bus{
  padding: 16px 72px;
}

.plan__top {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 4px
}



/*TESTIMONIALS*/

.send__love{
  width: 50%;
  margin: 0 48px;
  padding-right: 48px;
}

.testimonials__header{
  width: 50%;
}

.fa-star{
  color: rgb(246 173 85)
}
 
.five__stars{
  padding-bottom: 16px;
}


.img__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.test__img{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin: 0 48px 0 0
}

.fa-arrow-left, .fa-arrow-right{
  background-color: lightgray;
  border-radius: 100px;
  padding: 8px;
  margin: 0 8px;
  color:rgb(100 21 255);
  cursor: not-allowed;
}

/*QUESTIONS*/

.questions__header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq__box{
  background-color: rgb(226, 232, 240);
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 16px;
}

.fa-caret-down{
  cursor: no-drop;
}


/*Attention*/
.attention__box{
  background-color: rgb(100 21 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 96px 0;
  border-radius: 10px;
}

.attention__header{
  color: white;
  font-weight: bolder;
  font-size: 32px;
  width: 50%;
}

.attention__btn--1{
  background-color: rgb(245 101 101) ;
  padding: 24px 40px;
}
.attention__btn--1:hover{
  background-color: rgb(230, 60, 60) ;
  cursor: no-drop;
}

.attention__btn--2{
  border: 1px solid lightgray;
  padding: 24px 40px;
}

.attention__btn--2:hover{
  background-color: white;
  color: rgb(100 21 255);
  cursor: no-drop;
}

/*FOOTER*/

#footer{
background-color: rgb(100 21 255);
margin-top: 56px;
}

.footer__links{
  display: flex;
 justify-content: space-between;
 color: white;
 display: flex;
  flex-wrap: wrap;
}

.footer__link, .footer__link--FAQ{
  color: white;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.footer__links--bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link--FAQ:hover{
  text-decoration: underline;
}


.footer__link:hover{
  cursor: no-drop;
}

.link__column{
  display: flex;
  flex-direction: column;
}

.link__title{
  margin: 32px 0;
  text-decoration: underline;
  text-align: center;
}


#footer__bottom{
  background-color: rgb(100 21 255);
}


.footer__logo{
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-left: 16px;
}

.fa-facebook-f, .fa-twitter, .fa-youtube {
  color: black;
  background-color:white;
  padding: 12px;
  border-radius: 50px;
  margin: 0 16px;
}

.fa-facebook-f{
  padding: 12px 16px;
}

.footer__copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright{
  color: white;
}

/*responsive*/

@media (max-width: 780px){
  .landing{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav__links{
    display:none;
  }
  .btn__menu{
    display: flex;
  }
  .service{
    width: calc(100%/2);
  }
  .quality__wrapper{
    display: flex;
    flex-direction: column;
  }
  .quality__header{
    text-align: center;
    padding-bottom: 16px;
  }
  .steps__wrapper{
    display: flex;flex-direction: column-reverse;
  }
  .section__title{
    text-align: center;
  }
  .values__wrapper{
    display: flex;
    flex-direction: column;
  }
  .values__header, .value__title{
    text-align: center;
  }
  .values__columns{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .plan{
    width: calc(100%/1);
    margin: 4px 16px;
  }
  .testimonials__wrapper{
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 550px){
  .service{
    width: calc(100%/1)
  }
  .link__column{
    width: calc(100%/3);
  } 
  .link__title{
    padding-top: 16px;
  }
  .footer__links--bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .attention__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
    padding: 16px;
  }
  .attention__header{
    text-align: center;
    margin-bottom: 16px;
  }
  .questions__description{
    text-align: center;
  }
  .plan{
    width: calc(100%/1);
    margin: 56px;
  }
  .service{
    margin: 48px;
    border: 1px solid lightgray;
    border-radius: 24px;
  }
  .service__img{
    display:none;
  }
  h2{
    padding-top: 12px;
  }
  .steps__img{
    padding-top: 16px;
  }
 
  
}

@media (max-width: 650px){
  .landing__email{
    display: none;
  }
  .plan{
    width: calc(100%/1);
    margin: 56px;
  }
  .send__love{
    display: none;
  }
}